h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}
input {
  width: 100%;
}
.css-TodoItem {
  text-align: left;
}
.todo-row {
  margin: 10px 5px;
}
.to-btn {
  min-width: 80px;
}
.css-h1 {
  margin-top: 40px;
  font-weight: 700;
  color:green;

}

