@import "tailwindcss";

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%,-50%);
}
.nav {
    display: flex;
    justify-items: center;
    
    justify-content: space-between;
    background-color: rgb(43, 104, 190);
    height: 100px;
    padding: 10px;
}
.nav-logo {
    padding-left: 20px;
    font-size: 40px;
    font-weight: 600;
}
.nav-elements {
    display: flex;
    gap: 140px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    padding: 15px;
    text-decoration:underline ;
}